*{
    font-family: Inter,sans-serif;
}

:root{
    --clr-back: radial-gradient(circle at top center, #566371 10px,#282e34 20%);
    --clr-hover: white;
    --clr-btn: #566371;
    --clr-text: rgb(179, 218, 252);
}

@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
}

.to-top{
    display: block;
    position: fixed;
    bottom: 7%;
    right: 0;
    height: 3rem;
    width: 3rem;
    margin-right: 2.5%;
    border-radius: 50%;
}

body{
    background: var(--clr-back);
    width: 100%;
    height: 100%;
}

.body-main{
    display: block;
}

.mob-view{
    display: none;
    width: 90%;
    color: var(--clr-hover);
    height: 50%;
    font-size: 2rem;
    margin: 25% 5% 25% 5%;
    text-align: center;
}

.rep-btn{
    width: 5rem;
    height: 5rem;
    background-color: var(--clr-back);
    font-size: 4rem;
    border: none;
}

.fa-space-shuttle{
    all: unset;
    rotate: -45deg;
}

.fa-space-shuttle:hover{
    border: 2px solid var(--clr-hover);
}

@media only screen and (max-width: 600px) {
    .body-main {
        display: none;
    }
    .mob-view{
        display: block;
    }
}

.head{
    margin: 0 0 0 0;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    background: #3f4a57;
}

.home{
    width: 80%;
    display: flex;
    margin: 0 auto 8rem auto;
}

.social{
    width: 5%;
    display: block;
    position: fixed;
    bottom: 5%;
    margin-left: 2.5%;
}

.fa{
    background-color: var(--clr-btn);
    color: var(--clr-text);
    width: 3rem;
    height: 3rem;
    text-align: center;
    margin: 0.6rem 0 0.6rem 0;
    border-radius: 50%;
    border: solid;
    border-color: var(--clr-text);
    transition: 1s;
    transition-delay: 0.2s;
}

.fa-long-arrow-up{
    rotate: 45deg;
    margin-right: 0.5rem;
}

.fa:hover{
    background-color: var(--clr-btn);
    color: var(--clr-hover);
    margin: 0.8rem 0 0.8rem 0;
    border-color: var(--clr-hover);
    transition: 1s;
    transition-delay: 0.2s;
    transform: rotate(360deg);
}

.my-img{
    display: block;
    border-radius: 12px;
    width: 24%;
    height: 24%;
    margin-top: 10rem;
    filter: grayscale(50%);
    transition: 0.5s;
    box-shadow: 14px 14px 1px var(--clr-btn), 14px 14px 0 2px var(--clr-btn);
}

.my-img:hover{
    filter: grayscale(0%);
    transition: 0.5s;
    border-radius: 20px;
    box-shadow: 12px 12px 1px var(--clr-back), 12px 12px 0 2px var(--clr-text);
}

.top-name{
    text-align: center;
    padding: 0;
    margin-left: 5%;
    width: 35%;
    color: var(--clr-hover);
}

.redirect{
    margin: 0.8rem 5% 0 0;
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
}

.red-btn{
    all: unset;
    margin-top: 12%;
    height: 60%;
    width: 15%;
    border: none;
    background-color: var(--clr-back);
    color: var(--clr-text);
    font-size: 1rem;
    transition: 0.7s;
}

.red-anc{
    text-decoration: none;
}

.red-btn:hover{
    color: var(--clr-hover);
    transition: 0.7s;
}

.rules{
    all: unset;
    margin-top: 12%;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    text-align: center;
    border: 2px solid var(--clr-text);
    background-color: var(--clr-btn);
    color: var(--clr-text);
    font-size: 1rem;
    transition: 0.7s;
}

.rules:hover{
    border-color: var(--clr-hover);
    color: var(--clr-hover);
    transition: 0.7s;
}

.about{
    display: block;
}

.a1{
    font-size: 2rem;
    margin-top: 6rem;
    color: crimson;
}

.education{
    margin-left: 15%;
    width: 70%;
    color: var(--clr-hover);
    display: flex;
}

.tab{
    display: block;
    width: 30%;
    border-left: 1px solid var(--clr-text);
    border-right: 1px solid var(--clr-text);
}

.tabbtn{
    border: none;
    margin: 0.2rem 0 0.2rem 0;
    font-size: 1rem;
    height: 3rem;
    display: block;
    background-color: var(--clr-back);
    color: var(--clr-text);
    width: 100%;
    transition: 0.7s;
}

.tabbtn:hover{
    background-color: var(--clr-back);
    transition: 0.7s;
}
  
.tabbtn.active{
    background-color: none;
    color: var(--clr-hover);
    font-size: 1.2rem;
    transition: 0.7s;
    border-left: 3px solid var(--clr-text);
    border-right: 3px solid var(--clr-text);
}

.tabcontent{
    width: 70%;
    padding-left: 3rem;
    float: left;
    border-right: 3px solid var(--clr-text);

}

h1{
    color: var(--clr-hover);
    font-size: 3rem;
    margin: .5rem 0 .5rem 0;
}

.a2{
    color: var(--clr-text);
    padding-right: 15%;
    font-size: 1.5rem;
    line-height: 2rem;
}

.about-section{
    width: 80%;
    margin: 0 auto 8rem auto;
    display: block;
}

.project{
    width: 80%;
    margin: 0 auto 8rem auto;
}

.p-head{
    text-align: center;
    color: var(--clr-hover);
}

.proj-1, .proj-2{
    display: flex;
    margin-bottom: 8rem;
}

.cont-1{
    width: 50%;
    text-align: end;
}

.cont-2{
    width: 50%;
}

.p-title{
    color: crimson;
    margin: 0 0 0.5rem 0;
}

.p-main{
    color: var(--clr-text);
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
}

.p-use{
    justify-content: space-between;
    display: flex;
    margin: 0 0 0 20%;
    width: 80%;
    margin-bottom: 0.5rem;
}

.p-use1{
    margin: 0;
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 90%;
}

.p-use2{
    justify-content: space-between;
    display: flex;
    margin: 0;
    width: 80%;
    margin-bottom: 0.5rem;
}

.p1{
    font-size: 1rem;
    margin: 0;
    color: var(--clr-text);
}

.p2{
    font-size: 1rem;
    margin: 0;
    color: var(--clr-hover);
}

.p-img{
    width: 50%;
    height: 35%;
    border: 2px solid var(--clr-text);
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}

.p-box1{
    position: absolute;
    z-index: 0.8;
    background-color: var(--clr-btn);
    margin: 0 0 1.5rem 0;
    right: 9%;
    width: 45%;
    border-radius: 12px;
    color: var(--clr-hover);
}

.p-box2{
    position: absolute;
    z-index: 0.8;
    background-color: var(--clr-btn);
    margin: 0 0 1.5rem 0;
    width: 45%;
    border-radius: 12px;
    color: var(--clr-hover);
}

.p-box-cont1{
    padding: 0 2rem 0 2rem;
    line-height: 1.5rem;
    font-size: 1rem;
}

.p-box-cont2{
    padding: 0 2rem 0 2rem;
    line-height: 1.5rem;
    text-align: start;
}

.plink-1, .p-link2{
    display: flex;
}

.extra-proj{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.e1{
    width: 32%;
    margin: 0;
    display: block;
    border-radius: 12px;
    height: fit-content;
    background-color: var(--clr-btn);
    transition: 0.7s;
}

.e1:hover{
    .exp-btn, .p1{
        transition: 0.7s;
        color: var(--clr-hover);
    }
    .exp-cont{
        transition: 1s;
        transition-delay: 0.2s;
        color: var(--clr-text);
    }
    transition: 0.7s;
    position: sticky;
    padding: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
}

.exp-cont{
    margin: 1rem 5% 1rem 5%;
    width: 90%;
    transition: 1s;
    transition-delay: 0.2s;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: var(--clr-hover);
}

.cont-cont{
    text-align: center;
    line-height: 2rem;
    color: var(--clr-text);
    font-size: 1.5rem;
}

.about-main{
    width: 100%;
    display: flex;
}

.cont-cont1{
    text-align: left;
    line-height: 2.2rem;
    width: 70%;
    color: var(--clr-text);
    font-size: 1.3rem;
    margin-bottom: 8rem;
}

.down-section{
    margin-top: 10%;
    width: 30%;
    height: 5rem;
}

.down-section1{
    margin: 0;
    width: 80%;
    height: 3.5rem;
    padding-left: 10%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.down-btn{
    height: 100%;
    margin: 0 20% 0 0;
    width: 65%;
    padding-right: 1.5rem;
    color: var(--clr-text);
    border: 3px solid var(--clr-text);
    background-color: var(--clr-btn);
    font-size: 1.3rem;
    border-radius: 12px; 
    transition: 0.7s;
}

.down-btn:hover{
    border-radius: 15px;
    border-color: var(--clr-hover);
    color: var(--clr-hover);
}

.fa-download, .fa-arrow-right{
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 0.5rem 0 0.5rem;
    border: none
}

.fa-download:hover, .fa-arrow-right:hover{
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 0.5rem 0 0.5rem;
    border: none
}

.exp-btn{
    all: unset;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 1rem 0 0 0;
    color: var(--clr-text);
    background-color: var(--clr-btn);
    transition: 0.7s;
}

.down-btn{
    height: 100%;
    margin: 0 20% 0 20%;
    width: 65%;
    padding-right: 1.5rem;
    color: var(--clr-text);
    border: 3px solid var(--clr-text);
    background-color: var(--clr-btn);
    font-size: 1.3rem;
    border-radius: 12px; 
    transition: 0.7s;
}

.down-btn:hover{
    border-radius: 15px;
    border-color: var(--clr-hover);
    color: var(--clr-hover);
}

.contact{
    width: 80%;
    margin: 0 auto 0 auto;
    align-items: center;
    text-align: center;
}

.cont-btn{
    background-color: var(--clr-btn);
    color: var(--clr-text);
    border: 2px solid var(--clr-text);
    border-radius: 12px;
    align-items: center;
    font-size: 1.2rem;
    height: 4rem;
    width: 8rem;
    transition: 0.7s;
    margin-bottom: 20%;
}

.cont-btn:hover{
    transition: 0.7s;
    color: var(--clr-hover);
    border-color: var(--clr-hover);
    border-radius: 8px;
}